<div class="container" id="container" [ngClass]="status ? '' : 'right-panel-active'">
	<div class="form-container sign-up-container">
		<form [formGroup]="studentForm" (ngSubmit)="onStudentSubmit()">
			<h1>Sign In</h1>
			<span>using your ID</span>
			<input type="text" formControlName="neptunId" placeholder="Neptun ID" />
			<button>Sign In</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
			<h1>Register</h1>
			<input type="text" formControlName="username" placeholder="Username"/>
			<input type="password" placeholder="Password" formControlName="password"/>
			<button [disabled]="!registerForm.valid">Register</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Here to teach?</h1>
				<p>Create an account and start registering students here!</p>
				<button class="ghost" id="signUp" (click)="toggleUser()">Sign Up</button>
			</div>
			<div class="overlay-panel overlay-right">
                <h1>Here to study?</h1>
				<p>Log in using your Neptun ID here!</p>
				<button class="ghost" id="signIn" (click)="toggleUser()">Log In</button>
			</div>
		</div>
	</div>
</div>