<nav>
    <h2 class="logo" routerLink="visualization">Algo</h2>
    <ul *ngIf="!(isLoggedIn$ | async)">
        <li routerLink="login">Login</li>
        <li routerLink="register">Register</li>
    </ul>
    <ul *ngIf="isLoggedIn$ | async">
        <li class="avatar">
            <div class="dropdown">
                <div class="dropdown-content">
                    <a routerLink="dashboard">Dashboard</a>
                    <a routerLink="upload">Add Classes</a>
                    <a (click)="onLogout()">Logout</a>
                </div>
            </div>
        </li>
        
    </ul>
</nav>