<div class="controller-container">
    <div class="stop">
        <div class="play" *ngIf="isPaused || currentNumberOfSwaps === 0">
            <i class="fa-solid fa-play play-button" (click)="togglePause()"></i>
            <span > Play</span>
        </div>
        <div class="pause" *ngIf="!isPaused && !(currentNumberOfSwaps === totalSwaps)">
            <i class="fa-solid fa-pause play-button" (click)="togglePause()"></i>
            <span>Pause</span>
        </div>
        <div *ngIf="currentNumberOfSwaps === totalSwaps && currentNumberOfSwaps !== 0">
            <i class="fa-solid fa-repeat play-button" (click)="replay()"></i>
            <span>Replay</span>
        </div>
    </div>
    <div class="steps">
        <i class="fa-solid fa-step-backward" (click)="stepBack()" *ngIf="currentNumberOfSwaps !== 0 && isPaused"></i>
        <div class="step-counter">
            <span class="progress" [ngStyle]="{'width': (currentNumberOfSwaps / (totalSwaps / 100))  + '%' }"></span>
            {{ currentNumberOfSwaps }} / {{ totalSwaps || 0 }}
        </div>
        <i class="fa-solid fa-step-forward" (click)="stepForward()" *ngIf="currentNumberOfSwaps !== 0 && isPaused"></i>
    </div>
    <div class="speed">
        <input type="range" min="0" max="600" step="10" #speed class="slider" (input)="onSpeedChange(speed.value)"> <span>{{ speed.value }}ms</span>
    </div>
</div>