<div class="quiz-container">
    <div class="image" *ngIf="questions[currentIndex]?.array!.length > 1">
            <div class="array-container">
                <div class="array-quiz-bar" *ngFor="let i of questions[currentIndex].array;"  [ngStyle]="{'height': i*10+'px','background-color':'blue', 'width': 1000/questions[currentIndex].array.length+'px'}">
                    <span *ngIf="questions[currentIndex]?.array!.length < 34" class="number">{{i}}</span>
                </div>
            </div>
    </div>
    <div class="question">
        <p>{{ questions[currentIndex].question }}</p>
    </div>
    <div class="answers">
        <label class="answer"  *ngFor="let option of questions[currentIndex]?.options" [for]="option">
            <input type="radio" [id]="option" class="answerInput" [name]="questions[currentIndex].question" [value]="option">
            <label [for]="option" ></label>
            <span>{{ option }}</span>
        </label>
    </div>
    <div class="buttons">
        <button *ngIf="currentIndex != questions.length-1" (click)="checkAnswer()">Next</button>
        <button *ngIf="currentIndex === questions.length-1" (click)="close()">Finish</button>
    </div>
</div> 