<div class="visualization-container">
    <app-algorithm-selector
        (onAlgorithmSelected)="selectAlgorithm($event)"
    ></app-algorithm-selector>
    <div>
        <app-algorithm-controller
            [currentNumberOfSwaps]="numberOfSwaps"
            [totalSwaps]="allNumberOfSwaps"
            (onPause)="onPause()"
            (onRepeat)="onArraySort()"
            (onSpeed)="onSpeedChange($event)"
        ></app-algorithm-controller>
        <div >
            <div class="array-container">
                <div class="array-bar" *ngFor="let i of currentArray;"  [ngStyle]="{'height': i+'px','background-color':PRIMARY_COLOR, 'width': 1000/currentArray.length+'px'}">
                    <span *ngIf="currentArray.length < 34" class="number">{{i}}</span>
                </div>
            </div>
        </div>
    </div>
    <app-algorithm-details
        [array]="currentArray"
        (onArraySizeChange)="onArraySizeChange($event)"
        (onSort)="onArraySort()"
        (onArrayChange)="onArrayChange($event)"
        (onOpenQuiz)="dialog.showModal()"
    ></app-algorithm-details>

    <dialog #dialog>
       <app-algorithm-quiz
       [selectedAlgorithm]="selectedAlgorithm"
       (onModalClose)="dialog.close()" 
       ></app-algorithm-quiz>
    </dialog>
</div>