<div class="details-container">
    <div class="settings">
        <div>
            Array: <input type="text" #arrayInput style="width: fit-content;"><br>
            Array size: <input type="range" name="arraySize" id="arraySize" min="2" max="100" #arraySize (input)="arraySizeChange(arraySize.value)"><span> {{arraySize.value}}</span>
        </div>
        <div class="buttons">
            <button (click)="generate()">Generate</button>
            <button (click)="sort()">Sort</button>
        </div>
    </div>
    <div class="code"></div>
</div>