<div class="selector-container">
  <ul>
    <li [ngClass]="active === 'Bubble Sort' ? 'active' : ''" (click)="selectSort('Bubble Sort')">Bubble Sort</li>
    <li [ngClass]="active === 'Quick Sort' ? 'active' : ''" (click)="selectSort('Quick Sort')">Quick Sort</li>
    <li [ngClass]="active === 'Merge Sort' ? 'active' : ''" (click)="selectSort('Merge Sort')">Merge Sort</li>
    <li [ngClass]="active === 'Selection Sort' ? 'active' : ''" (click)="selectSort('Selection Sort')">Selection Sort</li>
  </ul>
</div>