:host {
    display: flex;
    flex-direction: column;
    width: 17%;
    height: 100%;
}
.selector-container {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 50;
    height: 100%;
    padding: 0 20px;
    
    ul {
        margin-top: 1rem;
        list-style-type: none;
        
        li {
            color: #742CDF;
            font-size: 1.2rem;
            ul {
                margin-top: 0;
                margin-left: 3rem;
                li {
                    cursor: pointer;
                    font-size: 1rem;
                    color: #A4A3B4;
                }
            }
        }
    }
}
