:host {
    display: flex;
    flex-direction: column;
    //width: 17%;
    height: 100%;
}
.selector-container {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 50;
    height: 100%;
    padding: 0 20px;
    
    ul {
        margin-top: 1rem;
        list-style-type: none;
        
        .active {
            background-color: #742CDF;
            border-radius: 10px;
            color: #fff;
        }
        li {
            color: #742CDF;
            cursor: pointer;
            padding: .5rem;
            margin: .2rem;

            &:hover {
                background-color: #742CDF;
                border-radius: 10px;
                color: #fff;
            }

        }
    }
}
