<div class="container">
    <div class="auth-container">
        <div class="draw"></div>
        <div class="form">
            <div class="form__title">Register</div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <label for="user-name">Username: </label>
            <input id="user-name" type="text" formControlName="username">

            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password">
            
            <button type="submit" [disabled]="!loginForm.valid">Login</button>
          </form>
        </div>
    </div>
</div>